HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
out/
gen/
*.iws
*.iml
*.ipr

# Eclipse
.settings/
.project
.classpath
.factorypath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compilação e artefatos
target/
!.mvn/wrapper/maven-wrapper.jar
build/

# Logs e arquivos temporários
*.log
temp/

# Sistema
.DS_Store
Thumbs.db